<h1>{{nom}} est connect&eacute</h1>

  {% if activities %}
<ul>
  {% for a in activities %}
    <li>{{ a.nameActivity }} : {{a.date.format('Y-m-d H:m')}}</li>
  {% endfor %}
</ul>

{% else %}
<p>Pas d'activit&eacutes de pr&eacutevues</p>

{% endif %}



<form method="get" action="">
  <fieldset>
    <legend>Ajouter une activit&eacute</legend>
    <p>
      <select>
	{% for a in liste %}
	<option value={{a.name}}>{{a.name}}</option>
	{% endfor %}
      </select>
      </p>
      <p>Date :<input type="text" id="date" name="date" required/></p>
      <p>Heure :<input type="text" id="heure" name="heure" required/></p>
      <p><input type="submit" value="Ok"/></p>
  </fieldset>
</form>
